## Lists

**Indexing**

A list is a sequenced collection of differents objects such as integers, strings, floats or even other list as well. The address of each element in the list is called **Index**. To create a list, type the list within square brackets [ ], with your content inside the parenthesis and separated by commas.

In [1]:
# Define the a list L
L = ["Micheal jackson", 10.1, 1982]
L

['Micheal jackson', 10.1, 1982]

In [2]:
# Print the element on each index
print("The same element using negative and positive indexing:\n Positive : ", L[0], '\n negative :', L[-3])
print("The same element using negative and positive indexing:\n Positive : ", L[1], '\n negative :', L[-2])
print("The same element using negative and positive indexing:\n Positive : ", L[2], '\n negative :', L[-1])

The same element using negative and positive indexing:
 Positive :  Micheal jackson
 negative : Micheal jackson
The same element using negative and positive indexing:
 Positive :  10.1
 negative : 10.1
The same element using negative and positive indexing:
 Positive :  1982
 negative : 1982

**List Operations**

In [6]:
# sample list
L = ["Micheal jackson", 10.1, 1982, "MJ", 1]
L

['Micheal jackson', 10.1, 1982, 'MJ', 1]

In [4]:
# List slicing
L[3:5]

['MJ', 1]

**extend()** Method allow to add new element in the list. 

Note: the extend() method add element one by one in the list

In [5]:
# Use extend() to add new element to the list
L.extend(['pop',10])
L

['Micheal jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

append() method also allow user to add new element in the list

In [7]:
# Use append to add element to the list
L.append(['pop',10])
L

['Micheal jackson', 10.1, 1982, 'MJ', 1, ['pop', 10]]

In [9]:
# Add new element in the list
L.append(['a','b'])
L

['Micheal jackson', 10.1, 1982, 'MJ', 1, ['pop', 10], ['a', 'b']]

**N.B** As lists are mutable, we can change them, without create an another list

In [10]:
# Change the element based on the index
A = ["Disco", 10, 1.2]
print('Before change :', A)
#change element in the list
A[0] = 'Hard Work'
print('Afer change :', A)

Before change : ['Disco', 10, 1.2]
Afer change : ['Hard Work', 10, 1.2]

We can also delete element in the list by using del method

In [11]:
#Delete eleemnt based index
print('before change: ', A)
del(A[1])
print('After change :', A)

before change:  ['Hard Work', 10, 1.2]
After change : ['Hard Work', 1.2]

The method **split()** translates every group of characters separated by a space into an element in a list

In [12]:
# split the string, default is by space
'Hard Work'.split()

['Hard', 'Work']

In [17]:
#slit by using comma as delimier
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

## Copy and Clone List

In [18]:
# copy the list A
A =['hard work', 10, 1.3]
B = A
print ('A :', A)
print ('B :', B)

A : ['hard work', 10, 1.3]
B : ['hard work', 10, 1.3]

In [19]:
A.append(['Student', 20])
print ('A :', A)
print ('B :', B)

A : ['hard work', 10, 1.3, ['Student', 20]]
B : ['hard work', 10, 1.3, ['Student', 20]]

In [20]:
print('B[0]: ', B[0])
A[0] = "banana"
print('B[0]:',B[0])

B[0]:  hard work
B[0]: banana

In [21]:
# Let clone the list A
B = A[:]
B

['banana', 10, 1.3, ['Student', 20]]

## Quiz on list

In [23]:
# create a list
a_list = [1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [24]:
# find the value stored at the index 1 of a_list
a_list[1]

'hello'

In [25]:
# retrieve elements stored at the index 1,2 and 3 of a_list
a_list [1:4]

['hello', [1, 2, 3], True]

In [26]:
# concatenate the following list
A = [1, 'a'] 
B = [2, 1, 'd']

print( 'concatenate A and B :', A + B)

concatenate A and B : [1, 'a', 2, 1, 'd']

## scenario shopping list

In [41]:
# create an empty shopping list
shopping_list = []

In [42]:
# Use the append method tho add elements in the list
shopping_list.extend(["Watch","Laptop","Shoes","Pen","Clothes"])

shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

In [43]:
# Add new element in the list
shopping_list.append("Football") 
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [44]:
#print the first item from the list
print(shopping_list[0])

Watch

In [45]:
# print the last item from the list
print(shopping_list[-1])

Football

In [46]:
# Print the entire shoppint list
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [48]:
print(shopping_list[1:3])

['Laptop', 'Shoes']

In [49]:
# change Pen  to Notebook in the list
shopping_list[3] = "Notebook"
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

In [50]:
# delete clotches in the list
del(shopping_list[4])
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']