
## Sets in python

**Sets**

- A set is a unique collection of objects in python . You can denote a set with a pair of curly brackets. Python will automatically remoce duplicate items.

In [1]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
# convert list to a set
album_list = list(set1)
album_list

['pop', 'rock', 'R&B', 'hard rock', 'disco', 'soul']

In [10]:
# convert list to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

**Sets Operations**

In [11]:
# consider this set
A = set (["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [12]:
# Add element to A
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

N.B: If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [13]:
# Try to add duplicate elemeent to A
A.add("Thriller")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [14]:
# remove item in a set by using the remove() method
A.remove("Thriller")
A

{'AC/DC', 'Back in Black', 'NSYNC'}

In [22]:
# We can verify if an element is in the set using the in command:

# Verify if an element is in a A
"Thriller" in A

True

In [23]:
"Back in Black" in A

True

**Sets Logic Operations**
- with sets we can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [24]:
# sample sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [26]:
# print two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [27]:
# Find the intersections
intersection = album_set1&album_set2
intersection

{'AC/DC', 'Back in Black'}

We can find all the elements that are only contained in album_set1 using the difference method:

In [28]:
# Find the difference in set1 not set2
album_set1.difference(album_set2)

{'Thriller'}

In [29]:
# Find the difference in set2 not set1
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [30]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [31]:
# Find the union of two sets
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [32]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [33]:
# Check if subset
set(album_set2).issubset(album_set1)

False

In [34]:
# Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [35]:
album_set1.issuperset({"Back in Black", "AC/DC"})

True

## QUIZ ON SETS

In [37]:
# convert the following list to a set

music_type = set(['rap','house','electronic music', 'rap'])
music_type

{'electronic music', 'house', 'rap'}

In [38]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [39]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_Set3 = album_set1.union(album_set2)
album_Set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [40]:
# Find out if album_set1 is a subset of album_set3
album_set1.issubset(album_Set3)

True

In [41]:
'1' in {'1','2'}

True